.header-container {
    width: 100vw;
    height: 8vh;
    background-color: #545656;
    display: flex;
    font-size: 10pt;
  }
  
  .menu {
    width: 40%;
    height: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0;
  }
  
  .menu li {
    display: flex;
    align-items: center;
  }
  
  .menu li a {
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .menu li a:hover {
    background-color: #444;
    color: #ccc;
  }
  
  .logout {
    width: 60%;
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1vw;
  }
  
  .logout li {
    display: flex;
    align-items: center;
  }
  
  .logout li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    background-color: #A32C2C;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .logout li a:hover {
    background-color: #7f1f1f;
    color: #ccc;
  }

  .form-container {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 10% auto;
    padding: 20px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-container button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-succes {
    background-color: #28a745;
    color: white;
    display: inline-block;
    margin: 10px;
}

.btn-succes:hover{
  background-color: #1f7f2a;
}

.btn-saida {
  background-color: #a72828;
  color: white;
  display: inline-block;
  margin: 10px;
}

.btn-saida:hover{
  background-color: #7f1f1f;
}

h1 {
    font-size: 24px;
    margin: 20px 0;
}

#resp{
  width: 100%;
}

@media only screen and (max-width: 500px) {
  .form-container {
    margin-top: 15vh;
    max-width: 90vw;
  }
  .menu{
    width: 60%;
  }
  .menu li {
    width: 200px;
  }
  .logout {
    width: 40%;
    justify-self: flex-end;
  }


  
}